label {
    color: #fff;
    margin-bottom: 0.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: auto;
    max-width: 600px;
  }
  
  form input,
  form textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #f4f4f4;
  }
  
  .form .btn {
    margin: auto;
    display: block;
    width: 30%;
    align-self: flex-start;
    margin-bottom: 2rem;
  }
  
  .comments {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  .comment p {
    margin-bottom: 5px;
  }
  
  .comment button {
    margin-right: 5px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 2rem;
    max-width: 400px;
  }
  
  .modal h2 {
    margin-bottom: 1rem;
  }
  
  .modal textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    width: 100%;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-buttons button {
    margin-left: 0.5rem;
  }
  
  @media screen and (max-width: 640px) {
    .form .btn {
      width: 35%;
    }
  }
  